.App {
    text-align: center;
    background-color: white;
    width: 300px;
    height: 100px;
  }
  
  #MainButton{
    background-color: #ffd700 ;
    color: #000000;
    border-color: #000000;
    border-width: 3px;
    border-radius: 5px;
    padding: 6px;
    font-size: 14px;
    margin-top: 10px;
  }

  #MainButton:hover{
    background-color: #ffe34c;
  }

  #MainButton:active{
    background-color: #ffeb81;
  }
  
  #documentIdLabel{
    font-size: 14px;
  }

  #inputForm{
    margin-top: 75px;
  }

  #currentDocumentLabel{
    font-size: 14px;
  }